<table border="1" style="width:25%">
  <caption>Exercise</caption>
  <tr>
    <th><center>Activity</center></th>
    <th><center>Calories</center></th>
  </tr>

  <% exercises.each do |exercise| %>
    <tr>
      <td>
        <center>
          <%= exercise.activity %>
          <%= link_to 'Edit', edit_exercise_path(exercise) %>
          <%= link_to "Delete", exercise_path(exercise),
          :data => {:confirm => "Are you sure?",
            :method => "delete"} %>
        </center>
      </td>
      <td>
        <center>
          <%= exercise.calories %>
        </center>
      </td>
    </tr>
  <% end %>
</table>
